
* {
  margin: 0;
  padding: 0;
  outline: 0;
  cursor: pointer; }

ul,
ol {
  list-style-type: none; }

a {
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0; }
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: Medium;
}


nav{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    padding: 16px 120px 16px 120px;
}

nav ul li{
    list-style: none;
    margin-right: 32px;
}

.check{
    list-style: none;
    /* margin-left: 20px; */
    /* position: relative; */
}


nav ul{
    display: flex;
    align-items: center;
    /* gap: 30px; */
    
}

nav li a{
    text-decoration: none;
    
}

.dark_2{
    color: black;
    font-weight: 500;
    font-size: 16px;    
}

.btn-primary{
    background-color: #30B868;
    font-weight: semi-bold;
    color: white;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    border: none;

}
/* Banner Styles */
.banner{
    background-image: url('../assets/hero-bg.png');
    background-position: center;
    text-align: center;
    /* width: 100%;
    height: 674px; */
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 120px 134px 120px;
}
.banner-contetnt{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* gap: 24px; */
}

.banner-description{
    font-size: 18px;
    color:white;
    text-align: center;
    
}
.banner-heading{
    font-size: 72px;
    text-align: center;
    font-style: bold;
}
.bnh-u{
    color: white;
}
.bnh-d{
    color: #30B868;
}

.btn-2{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 4px;
    border-color: white;
    background-color: transparent;
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    font-weight: semi-bold;
    margin-left: 16px;
    

}
.btn-3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #30B868;
    border-radius: 1000px;
    border-color: white;
    background-color: white;
    padding: 8px 12px 8px 12px;
    font-size: 16px;
    font-weight: semi-bold;
    margin-top: 39px ;
    gap: 10px;
}

.lower-banner-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px ;
    
}

.notes{
    margin: 120px 120px 120px 120px;
    text-align: center;
}

.notes-title{
    font-size: 48px;
    text-align: center;
    font-style: bold;
}
.notes-desc{
    font-size: 16px;
    text-align: center;
    color: #627382;
    margin-bottom: 44px;
    margin-top: 16px;;
}

.text-center{
    text-align: center;
}
.notes-img{
    background-color: #F95555;
    padding: 5.5px 5.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto 20px;
}
.notes-container{
    display: flex;
    gap: 24px;

}
.note-description{
    padding: 24px;
    text-align: center;
}
.note-title{
    text-align: center;
}

.grey-color{
    color: #627382;
}
.note{
    padding: 40px 24px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    border-bottom: 0px;

}

.knowledge-png{
    height: 600px;
    width: 600px;
    margin-right: 0px;
    border-radius: 12px;
}

.solution{
    display: flex;
    align-items: center;
    /* gap: 80px; */
    /* margin: 102px 0px 102px 60px; */
    margin: 120px 120px 120px 120px;
}
.solution-content{
    /* max-width: 600px; */
    margin: 102px 0px 102px 60px;
}
.chk-icon{
    margin-bottom: 0;
    margin-right: 6px;
}
.check{
    display: flex;
      align-items: center;
      /* gap: 16px; */
      margin-bottom: 16px;;
}

.rethink{
    background-color: rgba(247, 246, 242, 1);
    border-radius: 12px;
    /* padding: 80px 40px; */
    margin: 120px 120px 120px 120px;
    /* padding: 0 20px; */
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    gap: 1rem;


}

.rethink-sec{
    /* display: flex; */
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 80px;
    ;
}
.socials-icons a{
  margin: 0 12px;
      font-size: 1.2rem;
      text-decoration: none;
       color: black;
       
}

.foot-sec{
   
    padding: 120px 120px 30px 120px;
    /* width: 1600px;
    height: 348px; */
    background-color: #001931;

}

.footer-content{
      display: flex;
    align-items: center;
    /* gap: 80px; */
    justify-content: space-between;
    margin-bottom: 80px;
    
}

.foot-up{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* gap: 80px; */
}

.footer-certificate{
    
    color: rgba(250, 250, 250, 1);
    text-align: center;
    font-size: 16px;
    line-height: 24px;

}

.footer-img{
    
   width: 139px;
   height: 60px;
}

.social-sec{
    color: white;
    /* margin-bottom: 16px; */
}

.social-icon-col{
    color: white;
    margin-top: 16px;
    margin-right: 16px;


}