

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: Medium;
}


nav{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    padding: 16px 120px 16px 120px;
}

nav ul li{
    list-style: none;
    margin-right: 32px;
}

nav ul{
    display: flex;
    align-items: center;
    /* gap: 30px; */
    
}

nav li a{
    text-decoration: none;
    
}

.dark_2{
    color: black;
    font-weight: 500;
    font-size: 16px;    
}

.btn-primary{
    background-color: #30B868;
    font-weight: semi-bold;
    color: white;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    border: none;

}
/* Banner Styles */
.banner{
    background-image: url('../assets/hero-bg.png');
    background-position: top-left, bottom-right;
    text-align: center;
}

.banner-description{
    font-size: 18px;
    color:white;
    text-align: center;
    
}
.banner-heading{
    font-size: 72px;
    text-align: center;
    font-style: bold;
}
.bnh-u{
    color: white;
}
.bnh-d{
    color: #30B868;
}

.btn-2{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 4px;
    border-color: white;
    background-color: transparent;
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    font-weight: semi-bold;
    margin-left: 16px;
    

}
.btn-3{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    color: #30B868;
    border-radius: 1000px;
    border-color: white;
    background-color: white;
    padding: 8px 12px 8px 12px;
    font-size: 16px;
    font-weight: semi-bold;
    margin-top: 39px ;
}

.lower-banner-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px ;
    
}

.notes-title{
    font-size: 48px;
    text-align: center;
    font-style: bold;
}
.notes-desc{
    font-size: 16px;
    text-align: center;
    color: #627382;
}

.text-center{
    text-align: center;
}
.notes-img{
    background-color: #F95555;
    padding: 1.5px 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto 20px;
}
.notes-container{
    display: flex;
    gap: 24px;

}
.note-description{
    padding: 24px;
    text-align: center;
}
.note-title{
    text-align: center;
}

.grey-color{
    color: #627382;
}
.note{
    padding: 30px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    border-radius: 8px;

}
